/* CSS reset stylesheet */

/* - Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-light-blue: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-gray: hsl(234, 12%, 34%);

  --ff-primary: "Poppins", serif;
  --fs-primary: 2.25rem;
  --fs-secondary: 0.8125rem;
  --fs-tertiary: 1.25rem;
  --ls-primary: 0.00563rem;
  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--clr-gray);
}

main {
  display: grid;
  gap: 4.75rem;
  margin: 5.31rem 2rem;
}

.intro {
  max-width: 33.75rem;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  text-align: center;
}

.title,.brand, .card-title {
  font-size: 1.25rem;
}

.brand, .card-title {
  font-weight: var(--fw-bold);
  letter-spacing: 0.01044rem;
}

.title {
  font-weight: 300;
}

.about {
  font-size: 0.9375rem;
  line-height: 166.667%;
  letter-spacing: 0.0065rem;
}

.about,.card-content {
  opacity: 0.5;
}

.card {
  display: grid;
  gap: 1.56rem
}

.card-container {
  display: grid;
  gap: 2.06rem;
  position: relative;
  border-radius: 0.5rem;
  padding: 1.69rem 1.75rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.card-content {
  font-size: var(--fs-secondary);
  line-height: 176.923%;
  letter-spacing: 0.00563rem;
}

.icon {
  height: auto;
  margin-left: auto;
}

.super {
  border-top: 0.2rem solid var(--clr-light-blue);
}

.team {
  border-top: 0.2rem solid var(--clr-red);
}

.karma {
  border-top: 0.2rem solid var(--clr-orange);
}

.cal {
  border-top: 0.2rem solid var(--clr-blue);
}

@media (min-width: 90rem) {
  
  main {
    margin: 0;
  }
  
  .title,
  .brand {
    font-size: var(--fs-primary);
    letter-spacing: 0.01563rem;
  }

  .card {
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-container {
    max-width: 21.875rem;
  }

  .team {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  .karma {
    grid-row: 3 / span 2;
    grid-column: 2;
  }

  .super {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .cal {
    grid-row: 2 / span 2;
    grid-column: 3;
  }

}