/* CSS reset stylesheet */

/* - Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* - Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-light-blue: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-gray: hsl(234, 12%, 34%);

  --ff-primary: "Poppins", serif;
  --fs-primary: 2.25rem;
  --fs-secondary: 0.8125rem;
  --fs-tertiary: 1.25rem;
  --ls-primary: 0.00563rem;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* css reset  */
/* 1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--clr-gray);
}

main {
  display: grid;
  gap: 4.75rem;
  padding: 0 2rem;
}

.intro {
  margin: 0 auto;
  max-width: 33.75rem;
  display: grid;
  gap: 1rem;
  text-align: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.01044rem;
}

.brand {
  font-size: 1.25rem;
  font-weight: 600;
}

.about {
  font-size: 0.9375rem;
  line-height: 166.667%;
}

.about, .card-content {
  letter-spacing: 0.0065rem;
  opacity: 0.5;
}

.card {
  display: grid;
  gap: 1.56rem
}

.card-container {
  display: grid;
  gap: 2.06rem;
  position: relative;
  border-radius: 0.5rem;
  padding: 1.69rem 1.75rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-content {
  font-size:0.8125rem;
  line-height: 176.923%;
  letter-spacing: 0.00563rem;
}

.icon {
  height: auto;
  margin-left: auto;
}

.super {
  border-top: 0.2rem solid var(--clr-light-blue);
}

.team {
  border-top: 0.2rem solid var(--clr-red);
}

.karma {
  border-top: 0.2rem solid var(--clr-orange);
}

.cal {
  border-top: 0.2rem solid var(--clr-blue);
}

@media (min-width: 90rem) {

  main {
    padding: 0;
  }

  .title, .brand {
    font-size: 2.25rem;
    letter-spacing: 0.01563rem;
  }

  .card {
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-container {
    max-width: 21.875rem;
  }

  .team {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  .karma {
    grid-row: 3 / span 2;
    grid-column: 2;
  }

  .super {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .cal {
    grid-row: 2 / span 2;
    grid-column: 3;
  }

}
